<div class="container">
  <div class="d-flex justify-content-between">
    <div class="container m-4">
      <h2 class="m-3">Vous avez selectionné la <%= @car.brand %> <%= @car.model %></h2>
      <ul class="list-group mt-3 mb-4">

        <li class="list-group-item">Année de construction: <%= @car.year %></li>
        <li class="list-group-item">Couleur: <%= @car.color %></li>
        <li class="list-group-item">Nombre de sièges: <%= @car.number_of_seats %></li>
        <li class="list-group-item">Ville: <%= @car.location %></li>
        <li class="list-group-item">Propriétaire: <%= @car.user.first_name %></li>
        <li class="list-group-item">Prix : <%=@car.rate%>€/jour</li>
        <!-- ajouter plus de détails selon votre modèle de voiture -->
      </ul>
      <p class="list-group-item"><%= @car.description %></p>
      <%= cl_image_tag @car.photo.key, width: 400, height: 300, crop: :fill %>
    </div>
    <div class="p-2 bd-highlight">
      <h1>Ajouter une nouvelle réservation</h1>
      <div class="form-container">
        <%= render 'form' %>
      </div>
      <%# <% @total = @car.rate * ( @booking.start_date - @booking.end_date ) %>
      <%# id="total_price">Prix total: <%= @total %> <!-- Ce champ sera rempli plus tard avec JavaScript -->
    </div>
  </div>
</div>
