<div class="container">
  <section class="section">
      <h1>Mes réservations à confirmer (<%= @requests.length %>)</h1>
      <% @requests.each do |request| %>
        <div class="card-horisontal background-red m-2">
          <div class="dashboard_details">
          <div class="dashboard_date">
          <p> Début de l'emprunt :  <%= request.start_date %> </p>
          <p> Fin de l'emprunt : <%= request.end_date %> </p>
          </div>
          <p class="profil">
            Demande effectuée par : <i class="fa-solid fa-user"></i> <%= request.user.first_name %> <%= request.user.last_name %></p>
          <p>Son message : <%= request.message %></p>
          <div class="d-flex">
            <%= button_to 'Accepter', accept_booking_path(request.id), method: :patch, class: 'btn btn-success m-1' %>
            <%= button_to 'Refuser', request, class: "btn btn-danger m-1", method: :delete if policy(request.car).destroy? %>
          </div>
          </div>
          <p>Statut : <%= request.status %></p>
        </div>
      <% end %>
    </section>


<% if !@cars.empty? %>
  <section class="section">
    <h1>Mes voitures (<%= @cars.length %>)</h1>
    <ul class="dashboard_list_car">
      <% @cars.each do |car| %>

        <li class="card row" style="width: 80%;">
        <%= car.photos.attached? ? ( cl_image_tag car.photos.first.key, crop: :fill) : image_tag('nowallpaper.jpg') %>
          <div class="card-body">
            <h5 class="card-title"><%= car.model %> <%= car.brand %></h5>
          </div>
          <div class="row p-5">
          <ul class="list-group list-group-flush col-6">
            <p> Nombre de places : <%= car.number_of_seats %></p>
            <p> Prix : <%= car.rate %>€/jour</p>
            <p> Couleur : <%= car.color %></p>
            <p> Année de sortie : <%= car.year %></p>
          </ul>
          <ul class="list-group list-group-flush col-6">
            <p> Description : <%= car.description %></p>
            <p> Localisation : <%= car.location %></p>
            <h6>Disponibilités</h6>
            <p> Début : <%= car.start_date  %></p>
            <p> Fin : <%= car.end_date %></p>
          </ul>
          </div>
        </li>
          <section>
      <h1>Mes réservations à venir (<%= car.bookings.length %>)</h1>
      <% if !car.bookings.empty? %>
        <% car.bookings.each do |request| %>
          <div class="dashboard_request_card">
            <div class="dashboard_details">
              <div class="dashboard_date">
              <p> Début de l'emprunt :  <%= request.start_date %> </p>
              <p> Fin de l'emprunt : <%= request.end_date %> </p>
              </div>
              <p class="profil">
              Demande effectuée par : <i class="fa-solid fa-user"></i> <%= request.user.first_name %> <%= request.user.last_name %>
              </p>
              <p>Son message : <%= request.message %></p>
              <p>Statut : <%= request.status %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Aucune reservation pour cette voiture.</p>
        <% end %>
      </section>
      </li>
      <% end %>
    </ul>
  </section>
<% end %>


    <section class="section">
      <h1>Mes demandes de réservations (<%= @bookings.length %>)</h1>
      <% if !@bookings.empty? %>
      <% @bookings.each do |booking| %>

        <div class="card-horisontal background-red m-2">
          <div class="row justify-content-center w-100">

            <div class="col-6">
              <p> <b>Statut :</b> <%= booking.status %></p>
              <p> <%= booking.start_date %> - <%= booking.end_date %> </p>
              <p>Voiture : <%= booking.car.model %> <%= booking.car.brand %></p>
              <p> Message envoyé : <%= booking.message %></p>
            </div>

            <div class="col-3 d-flex align-items-center">
              <%= button_to 'Annuler la réservation', booking, class: "button-signature-card", method: :delete if policy(booking).destroy? %>
            </div>
          </div>
        </div>
      <% end %>
      <% else %>
          <p>Aucune réservation actuellement</p>
      <% end %>
    </section>
    <br>
  </div>
