<%= render 'cars/search' %>

<br>
<% if @q.location_cont %>
<h1><%=  "Nous avons trouvé #{@cars.length} voitures électriques pour vous à #{@q.location_cont}."%></h1>
<br>
<% end %>

<ul class="green_drive_list_cards">
<% @cars.each do |car| %>
   <li class="list-group-item green_drive_card">
      <%= car.photos.attached? ? ( cl_image_tag car.photos.first.key, crop: :fill) : image_tag('nowallpaper.jpg') %>
      <div class="green_card_stats card-body">
        <div class="card_header">
        <h5 class="card-title"><%= car.model %> <%= car.brand %></h5>
         <p class="card-text"><%= car.rate%>€/jour
        </div>
        <div class="card-body-text">
        <p><i class="fa-solid fa-location-dot"></i> <%= car.location %></p>
        <%= link_to "Voir +", car_path(car), class: "btn btn-success" %></p>
    </div>
  </li>
<% end %>
</ul>
