<%= render 'cars/search' %>

<br>
<h1><%=  "Nous avons trouvé #{@cars.length} voitures électriques pour vous à #{@query}."%></h1>
<br>

<ul class="green_drive_list_cards">
<% @cars.each do |car| %>
  <li class="list-group-item green_drive_card">
 <%= car.photos.attached? ? ( cl_image_tag car.photos.first.key, crop: :fill) : image_tag('nowallpaper.jpg') %>
  <div class="card-body">
      <h5 class="card-title"><%= car.model %> <%= car.brand %></h5>
      <div class="card-body-text">
      <p><i class="fa-solid fa-location-dot"></i> <%= car.location %></p>
      <p class="card-text"><%= car.rate%>€/jour
      <%= link_to "Voir +", car_path(car), class: "btn btn-success" %></p>
  </div>
</li>
<% end %>
</ul>
