<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>

Voiture de : <%= @car.user.email %>

image : <%= @car.image_url %>
<%= @car.model %>
<%= @car.availability %>
<%= @car.brand %>
<%= @car.description %>

<% if policy(@car).edit? %>
  <%= link_to "Edit this car", edit_car_path(@car), class: "btn btn-info" %> |
<% end %>
<%# <%= button_to "Destroy this car", @car, method: :delete if policy(@car).destroy?, class: "btn btn-danger" %>
