<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>

Voiture de : <%= @car.user.email %>

image : <%= @car.image_url %>
<%= @car.model %>
<%= @car.availability %>
<%= @car.brand %>
<%= @car.description %>

<% if current_user %>
  <%= link_to 'Book Now', new_car_booking_path(@car), class: 'btn btn-primary' %>
<% end %>

<% if @car.user == current_user %>
<%= link_to 'edit', edit_car_path(@car) %>
<% end %>
<%# <%= button_to "Destroy this car", @car, method: :delete if policy(@car).destroy?, class: "btn btn-danger" %>
