<h1><%= @car.brand %>, <%= @car.model %></h1>

<p>
<%= cl_image_tag @car.photo.key, height: 500, width: 900, crop: :fill %>


 <%= @car.number_of_seats %> sièges  |  <%= @car.year %> |  <%= @car.location %> | <%= @car.rate %>€/jour
<br>
 Voiture de: <%= @car.user.first_name %>
 <br>
<%= @car.description %></p>

<% if current_user %>
  <%= link_to 'Réserver maintenant', new_car_booking_path(@car), class: 'btn btn-success' %> |
<% end %>

<%# RAJOUTER ICI LES REVIEWS %>
<%# <h3>Les dernières évaluations</h3> %>


<% if policy(@car).edit? %>
  <%= link_to "Modifier les détails", edit_car_path(@car), class: "btn btn-info" %> | <% end %> <br> <%= button_to "Supprimer la voiture", @car,class: "btn btn-danger", method: :delete if policy(@car).destroy?    %>
