<h1><%= @car.brand %>, <%= @car.model %></h1>

<p>
 <%= image_tag @car.image_url, alt: "car photo", class: "img-fluid rounded mx-auto"%>



 <%= @car.number_of_seats %> seats
 <%= @car.year %>
 <%= @car.location %>
 <%= @car.rate %>€/jour

 Voiture de: <%= @car.user.first_name %>
<%= @car.description %></p>

<% if current_user %>
  <%= link_to 'Réserver maintenant', new_car_booking_path(@car), class: 'btn btn-primary' %>
<% end %>

<%# RAJOUTER ICI LES REVIEWS %>
<%# <h3>Les dernières évaluations</h3> %>


<% if policy(@car).edit? %>
  <%= link_to "Modifier les détails", edit_car_path(@car), class: "btn btn-info" %> |
<% end %>
<%= button_to "Supprimer la voiture", @car, method: :delete if policy(@car).destroy? %>
