<h1>Cars#show</h1>
<p>Find me in app/views/cars/show.html.erb</p>

Voiture de : <%= @car.user.email %>

image : <%= @car.image_url %>
<%= @car.model %>
<%= @car.availability %>
<%= @car.brand %>
<%= @car.description %>

<% if policy(@restaurant).edit? %>
  <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-info" %> |
<% end %>
<%= button_to "Destroy this restaurant", @restaurant, method: :delete if policy(@restaurant).destroy?, class: "btn btn-danger" %>
